

.container {
    display: flex;
    flex-direction: column;
    margin-left: 85px;
    padding: 10px;
}

.images img {
    height: 100px;
    width: 100px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.patient_details button {
    font-weight: 900;
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.patient_details button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.patient_details button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.patient_details button:hover:before {
  transform: translateX(15em);
} 

.chart-container{
    height: 400px;
    width: 665px;
}

canvas#chart-result {
    padding: 15px;
    scale: 1;

}
.patient_details {
    padding: 15px;
}

.result {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.final-percentage {
    height: 200px;
    display: flex;
    flex-direction: column;
}

span {
    font-size: 100px;
    color: red;
}

.final-percentage h4 {
    font-size: large;
    margin: 0;
}

.final-percentage > h3 {
    margin: 0;
}

.final-percentage div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #444242;
}

.final-percentage h3 {
    font-size: xxx-large;
}