:root {
            --border-color: #e0e0e0;
            --header-bg: #f8f9fa;
            --hover-bg: #f1f3f5;
            --text-main: #333;
        }
body {margin:0px;}

/* header */
header {
    position: fixed; /* Stays fixed while scrolling */
    height: 100vh;
    width: 80px;
    background: linear-gradient(5deg, #06ce7b, #3ee998);
    align-self: auto;
    display: grid;
    align-content: end;
    justify-content: center;
    border-radius: 0px 0px 40px 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

nav {
  width: 62px;
  height: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

li{
    list-style: none; 
    height: 44px;
    width: 44px;
}

li a{
 width: 44px;
 height: 48px;
 background-color: inherit;
 border: none;
}

a  svg{
    color: #444242;
    
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.3));
    border: none;
}
a :hover{
    color: #a8a8a8;

}





.search-box {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

main {
    display: grid;
    margin-left: 80px;
}

.input-group {
    display: flex;
    flex-direction: column;
}
button#btn-search {border-radius: 15px;color: #14d582;background-color: white;border-color: #14d582;border: solid;border-width: 2px;}

button > svg {
    height: 15px;
    width: 15px;
}

  .table-container {
        width: 98%;
        overflow-x: auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        border-radius: 8px;
        margin-top: 35px;
        justify-self: center;
        }

  table {
            width: 100%;
            border-collapse: collapse;
            background: white;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid var(--border-color);
        }

        th {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.85rem;
            letter-spacing: 0.5px;
        }

thead {background-color: #7272722b;border-radius: 150px;}

tr.parent-row {
}

input {
    border-bottom: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #918e8e5c;
    border-width: 3px;
}

.search-inputs {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.search-btn {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    gap: 10px;
}

button#btn-reset {
    border-radius: 15px;
    background-color: white;
    border-color: #14d582;
    color: #14d582;
    border-style: double;
}