body {margin:0px;justify-items: center;}


main {
  width: 96%;
  height: 100vh;
  background: linear-gradient(5deg, #06ce7b, #0aa159, #85eea9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#docIcon {
  width: 219px;
  height: 242px;
  color: #444242;
    
filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.3));
border: none;
}

#sign-btn {
  width: 253px;
  height: 195px;
  display: flex;
  flex-direction: column;
  gap: 58px;
  align-items: center;
  justify-content: center;
}

#sign-btn > button {
  width: 134px;
  height: 33px;
  background-color: white;
  color: black;
  border: solid green;
  border-radius: 5px;
  font-size: large;
}

#sign-btn > button:hover {
    background-color: #0aa159;
    transition: 0.3s;
    color: white;
    font-stretch: expanded;
    border: solid green;
}

section {
    display: flex;
    align-items: center;
}